// bower:scss
// endbower


//---------  Imports  ------------//
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Zilla+Slab:300,600');

//---------  Variables  ------------//
$color-teal-overlay: rgba(0, 169, 157, 0.8);
$color-white: #f2f2f2;
$color-black: #1a1a1a;

// General Styles -- //
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
a, a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

//---------  Header  ------------//
#header {
  display: block;
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-teal-overlay;
    z-index: 50;
  }
  .bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg.jpg') center center no-repeat;
    background-size: cover;
  }
}

svg#header-logo {
  fill: none;
  stroke: #fff;
}

.main-menu {
  position: relative;
  padding-right: 4rem;
  padding-top: 1rem;
  z-index: 100;
  ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    color: $color-black;
  }
  .inner-item {
    display: inline-block;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
    cursor: pointer;
    &:hover {
      color: $color-white;
      svg {
        fill: $color-white;
      }
    }
    svg {
      width: 1rem;
      fill: $color-black;
      transition: all 0.2s ease-in;

    }
    &:first-child {
      margin-right: 1.6rem;
      a {
        margin-right: 0.3rem;
      }
    }
  }
}

.svg-chess-pattern {
  display: block;
  position: absolute;
  width: 500px;
  opacity: 0.5;
  z-index: 75;
  &:first-child {
    top: 50%;
    left: 0;
  }
  &:last-child {
    transform: rotate(90deg);
    right: 0;
    top: 25%;
  }
}

.main-logo {
  position: relative;
  display: inline-block;
  left: 50%;
  margin-top: 7rem;
  transform: translateX(-50%);
  width: 230px;
  height: 280px;
  border: 3px solid $color-white;
  z-index: 150;
  .logo {
    padding-top: 2rem;
    text-align: center;
    svg {
      fill: $color-white;
      width: 130px;
    }
    h1 {
      color: $color-white;
      font-family: 'Zilla Slab', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.callout-text {
  display: inline-block;
  position: absolute;
  z-index: 150;
  left: 70%;
  top: 70%;
  transform: translate(-50%, -50%);
  color: $color-white;
  line-height: 1.8rem;
  font-weight: 300;
  span {
    font-weight: 600;
  }
}